<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>编辑jenkins源</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/css/scroll-bar.css">
    <link rel="stylesheet" href="/css/sub-page.css">
</head>
<body>
<div class="ok-body">
    <!--面包屑导航区域-->
    <div class="ok-body-breadcrumb">
            <span class="layui-breadcrumb">
                <a><cite>首页</cite></a>
                <a><cite>Jenkins源管理</cite></a>
                <a><cite>编辑Jenkins源</cite></a>
            </span>
        <a class="layui-btn layui-btn-small" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon layui-icon-refresh"></i>
        </a>
    </div>
    <!--form表单-->
    <form class="layui-form layui-form-pane ok-form">
        <input type="hidden" name="id">
        <div class="layui-form-item">
            <label class="layui-form-label">主机地址</label>
            <div class="layui-input-block">
                <input type="text" name="host" placeholder="请输入主机地址" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" placeholder="请输入名称" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">工程名称</label>
            <div class="layui-input-block">
                <input type="text" name="projectName" placeholder="请输入工程名称" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密钥</label>
            <div class="layui-input-block">
                <input type="text" name="token" placeholder="请输入密钥" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="add">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<!--js逻辑-->
<script src="/lib/layui/layui.js"></script>
<script src="/js/extended.js"></script>
<script>
    layui.use(['element', 'table', 'form', 'jquery', 'laydate'], function () {
        var element = layui.element;
        var table = layui.table;
        var form = layui.form;
        var $ = layui.jquery;
        var laydate = layui.laydate;
        $("input[name='id']").val('[[${jenkinsSource?.id}]]');
        $("input[name='host']").val('[[${jenkinsSource?.host}]]');
        $("input[name='name']").val('[[${jenkinsSource?.name}]]');
        $("input[name='projectName']").val('[[${jenkinsSource?.projectName}]]');
        $("input[name='token']").val('[[${jenkinsSource?.token}]]');


        form.on('submit(add)', function (data) {
            $.ajax({
                url:"/jenkins_source/addOrEdit",
                type:"POST",
                data:data.field,
                success:function(resp){
                    layer.msg("操作成功", {icon: 6, time: 1000, anim: 4}, function () {
                        parent.layer.close(parent.layer.getFrameIndex(window.name));
                    });
                },
                error:function(){
                    layer.msg("添加失败,重复添加", {icon: 6, time: 1000, anim: 4}, function () {
                        parent.layer.close(parent.layer.getFrameIndex(window.name));
                    });
                }
            });
            return false;
        });
        form.render();
    })
</script>
</body>
</html>