<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>编辑project源</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/css/scroll-bar.css">
    <link rel="stylesheet" href="/css/sub-page.css">
</head>
<body>
<div class="ok-body">
    <!--面包屑导航区域-->
    <div class="ok-body-breadcrumb">
            <span class="layui-breadcrumb">
                <a><cite>首页</cite></a>
                <a><cite>Project源管理</cite></a>
                <a><cite>编辑Project源</cite></a>
            </span>
        <a class="layui-btn layui-btn-small" href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon layui-icon-refresh"></i>
        </a>
    </div>
    <!--form表单-->
    <form class="layui-form layui-form-pane ok-form">
        <input type="hidden" name="id">
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" placeholder="请输入名称" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">GIT地址</label>
            <div class="layui-input-block">
                <input type="text" name="gitAddress" placeholder="请输入GIT地址" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">版本</label>
            <div class="layui-input-block">
                <input type="text" name="version" placeholder="请输入版本" autocomplete="off" class="layui-input" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">镜像仓库地址</label>
            <div class="layui-input-block">
                <input type="text" name="imageName" placeholder="镜像仓库地址" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">镜像标签</label>
            <div class="layui-input-block">
                <input type="text" name="imageTag" placeholder="镜像标签" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">环境变量</label>
            <div class="layui-input-block">
                <input type="text" name="env" placeholder="环境变量" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">端口</label>
            <div class="layui-input-block">
                <input type="text" name="port" placeholder="端口" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">docker源</label>
            <div class="layui-input-block">
                <select name="dockerSourceId" lay-verify="required">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">jenkins源</label>
            <div class="layui-input-block">
                <select name="jenkinsSourceId" lay-verify="required">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="add">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<!--js逻辑-->
<script src="/lib/layui/layui.js"></script>
<script src="/js/extended.js"></script>
<script>
    layui.use(['element', 'table', 'form', 'jquery', 'laydate'], function () {
        var element = layui.element;
        var table = layui.table;
        var form = layui.form;
        var $ = layui.jquery;
        var laydate = layui.laydate;
        $("input[name='id']").val('[[${projectSource?.id}]]');
        $("input[name='name']").val('[[${projectSource?.name}]]');
        $("input[name='gitAddress']").val('[[${projectSource?.gitAddress}]]');
        $("input[name='version']").val('[[${projectSource?.version}]]');
        $("input[name='imageName']").val('[[${projectSource?.imageName}]]');
        $("input[name='imageTag']").val('[[${projectSource?.imageTag}]]');
        $("input[name='env']").val('[[${projectSource?.env}]]');
        $("input[name='port']").val('[[${projectSource?.port}]]');
        var dockerSourceId = '[[${projectSource?.dockerSourceId}]]';
        var jenkinsSourceId = '[[${projectSource?.jenkinsSourceId}]]';

        $.ajax({
            url:"/docker_source/list",
            type:"GET",
            success:function(resp){
                var data = resp.data;
                for(var i =0; i<data.length;i++){
                    var ds = data[i];
                    $("select[name='dockerSourceId']").append("<option value='"+ds.id+"'>"+ds.name+"</option>");
                }
                if (dockerSourceId != "") {
                    $("select[name='dockerSourceId'] option[value=" + dockerSourceId + "]").attr("selected", true);
                }
                form.render();
            }
        });

        $.ajax({
            url:"/jenkins_source/list",
            type:"GET",
            success:function(resp){
                var data = resp.data;
                debugger;
                for(var i =0; i<data.length;i++){
                    var ds = data[i];
                    $("select[name='jenkinsSourceId']").append("<option value='"+ds.id+"'>"+ds.name+"</option>");
                }
                if (jenkinsSourceId != "") {
                    $("select[name='jenkinsSourceId'] option[value=" + jenkinsSourceId + "]").attr("selected", true);
                }
                form.render();
            }
        });

        form.on('submit(add)', function (data) {
            $.ajax({
                url:"/project_source/addOrEdit",
                type:"POST",
                data:data.field,
                success:function(resp){
                    layer.msg("操作成功", {icon: 6, time: 1000, anim: 4}, function () {
                        parent.layer.close(parent.layer.getFrameIndex(window.name));
                    });
                },
                error:function(){
                    layer.msg("添加失败,重复添加", {icon: 6, time: 1000, anim: 4}, function () {
                        parent.layer.close(parent.layer.getFrameIndex(window.name));
                    });
                }
            });
            return false;
        });
        form.render();
    })
</script>
</body>
</html>